{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": 2,
    "max-len": [
      "error",
      {
        "code": 180,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreRegExpLiterals": true
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "no-console": [
      "error",
      {
        "allow": ["error"]
      }
    ],
    "quotes": ["error", "single"],
    "require-await": ["error"],
    "@typescript-eslint/ban-ts-comment": ["off"],
    "@typescript-eslint/no-explicit-any": ["off"],
    "@typescript-eslint/explicit-module-boundary-types": ["off"]
  }
}
