BOT_TOKEN=xoxb-3093402828342-3100458458819-Pzx8ILuT8BZNJcQCoPjmwz7D
SLACK_APP_TOKEN=xapp-1-A033MUPG54G-3112906310673-76e2530f860e8ff6e342a191f340b273ad6f61a58bfbdd90829d69ed59ece1d2
SLACK_USER_TOKEN
DB_USER_NAME=postgres
DB_HOST=db
DB_PORT=5432
DB_PASSWORD=password
DB_NAME=chatbot_local
DB_TYPE=postgres
SOCKET_MODE=true
SENTRY_DSN=http://d56873fe0df648478f2715fa46eb3a7e@sentry:9000/2
SENTRY_NAME=LOCALHOST
LOKI_URL=http://loki:3100
LOKI_AUTH
LOKI_JOB_NAME
LOKI_LATENCY_VECTOR
MAILER_LOGIN=testemailslackbot@gmail.com
MAILER_PASS=Umbrellait1
MAILER_SENDER_EMAIL=TETE <testemailslackbot@gmail.com>
MAILER_FIN_DEPARTMENT_EMAIL
MAILER_HR
MAILER_PD_EMAIL
HR_CHANNEL
SMTP_PORT=1025
SMTP_HOST=mailhog

#Variables for kafka
KAFKA_CLIENT_ID=test
KAFKA_GROUP_ID=test
KAFKA_BROKERS=["broker:29092"]
KAFKA_HOST=broker
KAFKA_INIT_MIGRATION=false

# Variables for the Admin panel
ADMINJS_TEXT_LOGO_STAGE
ADMINJS_BG_COLOR
ADMINJS_BTN_COLOR
ADMIN_PORT
API_ENDPOINT

# Variables for Google Api
GOOGLE_API_CREDENTIALS=key-file.json
GOOGLE_CALENDAR_ID='alexander.tselkovnikov@umbrellait.com'

PORT

HEALTH_CHECK_URI=https://hc-ping.com/JA_Ibr_0DSwaKzSAXc8kjg/dev